.home__header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}

.home__header a {
  margin-right: 20px;
  list-style-type: none;
  color: rgb(0, 0, 0.87);
  font-size: 13px;
  cursor: pointer;
}

.home__header a:hover {
  text-decoration: underline;
}

.home__headerRight {
  display: flex;
  flex: 0 0 auto;
  float: right;
  align-items: center;
}
.home__header .app__icon {
  cursor: pointer;
  display: inline-block;
  outline: none;
  vertical-align: middle;
  align-self: center;
  height: 35px;
  width: 35px;
}
.app__icon:hover{
    border-radius: 100px;
    background-color: rgba(95, 99, 104, 0.24);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.avatar {
    height: 32px;
    width: 32px;
}
  
  .home__headerRight > .MuiSvgIcon-root {
    margin-right: 20px;
  }