body {
  font-size: 14px;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home__body {
  float: 1;
  display: flex;
  margin-top: 3%;
  flex-direction: column;
}

.home__body > img {
  object-fit: contain;
  height: 92px;
}
